.store-card {
  width: 100%;
  max-height: 50rem;
  padding: 2rem;
  background-color: $color-white;
  box-shadow: 0rem 0rem 2rem rgba($color-grey-dark-3, $alpha: 0.3);
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 414px) {
    & {
      max-height: 55rem;
    }
  }

  &__image {
    width: 100%;
  }

  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    height: 10%;
  }

  &__stock {
    font-size: 2rem;
    font-weight: 500;
  }

  & span {
    text-align: center;
    margin-top: 2rem;

    input[type="number"] {
      width: 100%;
      border: none;
      border-bottom: 3px solid $color-grey-dark-3;
      outline: none;
      padding: 1rem 2rem;
      transition: all 0.2s;
      margin-bottom: 3rem;

      &:focus {
        border-bottom: 3px solid $color-red-brand;
      }
    }
  }
}
